body {
  background-color: rgb(28, 6, 77);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* #opaque-filter {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility:hidden;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.6;
    transition: left 0.5s;
}
* html #opaque-filter {
    position: absolute;
} */


/* UNIVERSAL CSS RULES FOR THE SIDENAV & HEADER BLOCKS */

header {
  border-style: outset;
  max-width: 900px;
  margin: auto;
  background-color: rgb(27, 10, 61);
  border-color: blue;
}

#header-nav-block {
  background-color: rgb(28, 6, 77, 0);
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 100%;
}

#hamburger {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(22, 3, 61);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
  border-color: #ababab;
  border-width: 3px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ababab;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  font-size: 28px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  font-size: 38px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/* CSS RULES FOR HOMEPAGE */

#my-info {
  max-width: 800px;
  margin: auto;
}

#toplink-block {
  text-align: center;
  margin-top: 20px;
}

#toplink-block a {
  color:aqua;
}

img {
  max-width: 280px;
  height: auto;
  margin-top: 10px;
}

.intro-block {
  text-align: center;
}

.headers {
  text-align: center;
}

#background-header {
  margin-top: 50px;
}

#background {
  margin-bottom: 25px;
}

#experience-list {
  border-style: solid;
  max-width: 560px;
  margin: auto;
  background-color: rgb(22, 3, 61);
  padding-right: 6px;
}

#projectExpandButton {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}

#project-list {
  display: none;
}


/* CSS RULES SPECIFIC TO THE PORTFOLIO PAGE */

#portfolio-header {
  max-width: 560px;
}

#portfolio-grid {
  display: grid;
  max-width: 560px;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  margin-top: 10px;
}

#portfolio-grid img {
  width: 80%;
}

.project-card {
  border-style: solid;
  border-color: blue;
  background-color: rgb(22, 3, 61);
  transition: 0.2s;
}

.project-card:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
