/* html {
  padding-bottom: 10px;
} */

body {
  background-color: rgb(28, 6, 77);
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
  

#opaque-filter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  background-color: black;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
* html #opaque-filter {
  position: absolute;
}

/* * body #opaque-filter {
  position: absolute;
} */

#main {
  position: relative;
}

/* UNIVERSAL CSS RULES FOR ALL PAGES */

#header-nav-block {
  background-color: rgb(28, 6, 77, 0);
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 100%;
}

#hamburger {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  visibility: visible;
  transition: font-size 0.2s;
}

@media (hover: hover) {
  #hamburger:hover {
    font-size: 21px;
    transition: 0.2s;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /*100% Full-height/*
  /* height: 100vh; */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(22, 3, 61);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
  border-color: #ababab;
  border-width: 3px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ababab;
  display: block;
  transition: 0.3s;
}

.sidenav a:visited {
  color: #ababab;
}

/* When you mouse over the navigation links, change their color */
@media (hover: hover) {
  .sidenav a:hover {
    color: #f1f1f1;
    font-size: 28px;
  }
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (hover: hover) {
  .sidenav .closebtn:hover {
    font-size: 38px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

a {
  color: aqua;
}

a:visited {
  color: aquamarine;
}

/* CSS RULES FOR HOMEPAGE */

#my-info {
  max-width: 800px;
  margin: auto;
}

#main-header {
  font-size: 2em;
  margin-block-end: 0.5em;
}

#sub-header {
  margin-block-start: 0;
}

#toplink-block {
  text-align: center;
  margin-top: 10px;
}

#profile-image {
  float: left;
  max-width: 220px;
  height: auto;
  margin-right: 10px;
  border-radius: 25% 10%;
  border-style: solid;
  border-color: blue;
}

#intro-block::after {
  content: "";
  clear: both;
  display: table;
}

#background-header {
  text-align: justify;
}

#background {
  margin-bottom: 25px;
}

#background::after {
  content: "";
  clear: both;
  display: table;
}

#experience-list {
  float: right;
  border-style: solid;
  border-color: blue;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(22, 3, 61);
  padding-right: 10px;
  border-radius: 5%;
}

#exp-header {
  text-align: center;
}

#projectExpandButton {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  color: aqua;
}

#project-list {
  display: none;
}

/* CSS RULES SPECIFIC TO THE PORTFOLIO PAGE */

#portfolio-main {
  max-width: 560px;
  margin: auto;
  padding: 20px;
  border-style: solid;
  border-color: rgb(119, 187, 247);
  background-color: transparent;
  border-radius: 35%;
}

#portfolio-header {
  max-width: 560px;
  margin: auto;
  text-align: center;
}

#portfolio-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 560px;
  max-height: auto;
  margin: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  margin-top: 10px;
}

#portfolio-grid img {
  width: 80%;
}

.project-cards {
  border-style: solid;
  border-color: blue;
  background-color: rgb(22, 3, 61);
  transition: 0.2s;
  cursor: pointer;
  border-radius: 60px 15px;
}

#portfolio-grid :nth-child(3).project-cards {
  border-radius: 15px 60px;
}

#portfolio-grid :nth-child(4).project-cards {
  border-radius: 15px 60px;
}

.project-cards:nth-child(3) img {
  border-radius: 15px 60px;
}

.project-cards:nth-child(4) img {
  border-radius: 15px 60px;
}

@media (hover: hover) {
  .project-cards:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.thumbnails {
  border-radius: 60px 15px;
  border-style: solid;
  border-color: blue;
}

@keyframes drop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@keyframes lift {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

#project-expand-card {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-style: solid;
  border-color: blue;
  background-color: rgb(22, 3, 61);
  text-align: left;
  padding: 10px;
}

#project-info::after {
  content: "";
  clear: both;
  display: table;
}

#project-image {
  float: left;
  margin-right: 10px;
  max-width: 35%;
  border-radius: 25% 10%;
  border-style: solid;
  border-color: blue;
}

#project-expand-card > * {
  visibility: hidden;
}

#project-close-button {
  display: block;
  text-align: center;
}

/* CONTACT PAGE */

fieldset {
  /* REMOVES DEFAULT BORDER OF FIELDSET ELEMENT */
  border-style: none;
}

#form-block {
  max-width: 800px;
  margin: auto;
}

#form-block::after {
  content: "";
  clear: both;
  display: table;
}

#contact-form {
  float: left;
  /* border-radius: 25% 10%; */
  border-radius: 10% 25%;
  margin-right: 10px;
  text-align: center;
  border-style: solid;
  border-color: blue;
  /* border-width: 0.12em; */
  border-width: 3px;
  background-color: rgb(22, 3, 61);
  min-width: 280px;
  max-width: 280px;
  /* margin: auto; */
  margin-bottom: 10px;
  /* animation-name: lift;
  animation-duration: 0.5s; */
}

/* #contact-form label {
  color: rgb(0, 255, 255);
} */

button {
  background-color: rgb(119, 187, 247);
  border-color: blue;
  border-radius: 8px;
  color: rgb(22, 3, 61);
  margin: 0.25em;
  font-weight: bolder;
  transition: 0.2s;
}

button:disabled {
  opacity: 0.2;
}

@media (hover: hover) {
  button:enabled:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

button:enabled:active {
  transform: translateY(4px);
  transition: 0.2s;
}

#contact-form input {
  border-color: blue;
  background-color: rgb(119, 187, 247);
  color: rgb(22, 3, 61);
  font-size: 14px;
  font-weight: 545;
  border-style: solid;
  border-width: 2px;
  width: 75%;
}

#contact-form input::placeholder {
  color: rgb(22, 3, 61);
  opacity: 0.6;
}

#name-message {
  display:none;
  color: red;
}

#surname-message {
  display: none;
  color: red;
}

#email-message {
  display: none;
  color: red;
}

#msg-message {
  display: none;
  color: red;
}

#message-box {
  background-color: rgb(119, 187, 247);
  color: rgb(22, 3, 61);
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  width: 90%;
  margin: auto;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  resize: none;
}

#message-box::placeholder {
  color: rgb(22, 3, 61);
  opacity: 0.6;
}

#email-response-popup {
  display: none;
  z-index:2;
  position: absolute;
  text-align: center;
  width: 260px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: blue;
  border-radius: 25% 10%;
  border-width: 3px;
  background-color: rgb(22, 3, 61);
  padding:10px;
}

#email-response-popup p {
  text-align: center;
}

#response-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

#email-response-icon {
  max-width: 36px;
  margin-left: 10px;
}

/* LINKS PAGE */

#links-header {
  text-align: center;
}

#links-block {
  /* border-style: solid; */
  max-width: 800px;
  margin: auto;
}

#links-block :nth-child(odd).link-box {
  border-radius: 60px 15px;
  background-color: rgb(22, 3, 61);
}

#emailjs-image {
  background-color: white;
}

#icon-image {
  background-color: black;
}

#links-block :nth-child(even).link-box {
  /* border-radius: 10% 15% / 25%; */
  border-radius: 15px 60px;
  background-color: rgb(119, 187, 247);
  color: rgb(22, 3, 61);
}

#links-block :nth-child(odd) > img {
  width: 20%;
  float: left;
  margin: 10px;
  border-radius: 25% 10%;
} 

#links-block :nth-child(even) > img {
  width: 20%;
  float: right;
  margin: 10px;
  border-radius: 10% 25%;
} 

#links-block :nth-child(even) > a {
 color:darkblue;
} 

.link-box {
  border: solid;
  border-color: blue;
  padding: 10px;
  margin: 10px;
  max-width: 800px;
}

.link-box::after {
  content: "";
  clear: both;
  display: table;
}

.link-image {
  border-style: solid;
  border-color: blue;
}

/* ABOUT PAGE CSS */

#about-header {
  text-align: center;
}

#about-me-block {
  /* border-style: solid; */
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#about-me-block::after {
  content: "";
  clear: both;
  display: table;
}

#guitar-pic {
  float: left;
  width: 30%;
  margin-right: 10px;
  border-style: solid;
  border-color: blue;
  border-radius: 15% 5% 15% 5%;
  /* border-width: 3px; */
}

#gig-poster {
  float: right;
  width: 30%;
  margin-left: 10px;
  border-style: solid;
  border-color: blue;
  border-width: 3px;
}