body {
  background-color: rgb(28, 6, 77);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}

#opaque-filter {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility:hidden;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.4;
}
* html #opaque-filter {
    position: absolute;
}

/* * body #opaque-filter {
  position: absolute;
} */

/* UNIVERSAL CSS RULES FOR THE SIDENAV & HEADER BLOCKS */

header {
  border-style: outset;
  max-width: 900px;
  margin: auto;
  background-color: rgb(27, 10, 61);
  border-color: blue;
}

#header-nav-block {
  background-color: rgb(28, 6, 77, 0);
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 100%;
}

#hamburger {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  visibility: visible;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /*100% Full-height/*
  /* height: 100vh; */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(22, 3, 61);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
  border-color: #ababab;
  border-width: 3px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ababab;
  display: block;
  transition: 0.3s;
}

.sidenav a:visited {
  color: #ababab;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  font-size: 28px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  font-size: 38px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* CSS RULES FOR HOMEPAGE */

#my-info {
  max-width: 800px;
  margin: auto;
}

#toplink-block {
  text-align: center;
  margin-top: 20px;
  clear: right;
}

a {
  color: aqua;
}

a:visited {
  color:aquamarine;
}

#profile-image {
  float: left;
  max-width: 220px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 30px;;
  border-radius: 25% 10%;
  border-style: solid;
  border-width: 3px;
  border-color: blue;
}

.headers {
  text-align: center;
}

#background-header {
  text-align: justify;
  clear: left;
}

#background {
  margin-bottom: 25px;
}

#experience-list {
  clear: left;
  float: right;
  border-style: solid;
  border-color: blue;;
  /* max-width: 560px; */
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 30px;
  /* margin: auto; */
  background-color: rgb(22, 3, 61);
  padding-right: 10px;
  border-radius: 5%;
}

#experience-list::after {
  content: "";
  clear: both;
  display: table;
}

#projectExpandButton {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}

#project-list {
  display: none;
}

/* CSS RULES SPECIFIC TO THE PORTFOLIO PAGE */

#portfolio-header {
  max-width: 560px;
}

#portfolio-grid {
  position: relative;
  display: grid;
  max-width: 560px;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  margin-top: 10px;
  min-height: 80vh;
}

#portfolio-grid img {
  width: 80%;
}

.project-cards {
  border-style: solid;
  border-color: blue;
  background-color: rgb(22, 3, 61);
  transition: 0.2s;
  cursor: pointer;
  border-radius: 10%;
}

@media (hover: hover) {
  .project-cards:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.thumbnails {
  border-radius: 25% 10%;
  border-style: solid;
  border-color: blue;
}

@keyframes drop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@keyframes lift {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;    
  }
}


#project-expand-card {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 0;
  max-width: 0;
  max-height: 0;
  border-style: solid;
  border-color: blue;
  background-color: rgb(22, 3, 61);
  text-align: left;
  padding: 10px;
}

#project-expand-card::after {
  content: "";
  clear: both;
  display: table;
}

#project-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 35%;
  border-radius: 25% 10%;
  border-style: solid;
  border-color: blue;
}

#project-expand-card > * {
  visibility: hidden;
}

#project-close-button {
  display: block;
  text-align: center;
  clear: left;
  /* font-size: larger; */
}

